<a href="https://colab.research.google.com/github/adasinghasd123/Quora-Question-Pair/blob/main/quora_question_pair_only_BOW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("/content/drive/MyDrive/DataSet/quora/train.csv")

In [14]:
df=df.sample(30000)

In [15]:
df.shape

(30000, 6)

In [16]:
df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [17]:
quedf=df[["question1","question2"]]

In [18]:
quedf.head(10)

,question1,question2
349815,What does 'there is no spoon' mean in the movi...,What does there is no spoon mean in the movie ...
262283,What is the rudest thing someone has ever said...,What is the most mean-spirited thing a religio...
64083,Do all psychopaths manipulate?,How do you manipulate a psychopath?
246104,How do I determine an invariant subspace of li...,How do I determine an invariant subspace of li...
31280,What are the best investments?,What is the best investment options?
242111,What's the book that had the strongest impact ...,What is the book that left the strongest emoti...
264915,Which is correct and why: time flies or time f...,"What's correct: ""It doesn't change the rule of..."
178098,Are you allowed to swap seats with other passe...,Can a passenger ever go into a cockpit?
91956,What is the difference between velocity satura...,Is the VLSI industry at saturation?
321440,How do endoplasmic reticulum and ribosomes dif...,Why do ribosomes attach to the endoplasmic ret...

In [19]:
from sklearn.feature_extraction.text import CountVectorizer
# merge texts
questions = list(quedf['question1']) + list(quedf['question2'])

cv = CountVectorizer(max_features=4000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [20]:
temp_df1 = pd.DataFrame(q1_arr, index= quedf.index)
temp_df2 = pd.DataFrame(q2_arr, index= quedf.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 8000)

In [24]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,is_duplicate
349815,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
262283,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64083,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
246104,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
31280,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311515,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
209554,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
43210,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
236527,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
83586,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
temp_df['is_duplicate'] = df['is_duplicate']

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7513333333333333